extends layout

block content
  form(method="POST")
    label(for="name") Name:
    input(type="text", name="name", id="name" placeholder="Name of category", value= category && category.name, required)
    
    label(for="description") Description:
    textarea(name="description", id="description" placeholder="Description of category", required)=category && category.description
    label(for="password") Password:
    input(type="password", name="password", id="password", placeholder="Password", required)
    button(type="submit")=actionText
  form(action="/" method="GET") 
    button(type="cancel") Cancel
  if errors
    each error in errors
      p=error.msg