extends layout 

block content 
  h1=title
  p= `Are you sure you want to delete ${item.name}?`
  form(method="POST") 
    input(type="password", name="password", id="password", placeholder="Password", required)
    button(type="submit") Delete Item
  form(method="GET" action=`/catalog/item/${item._id}`)
    button(type="submit") Cancel

  each error in errors
    p=error.msg