:root {
  --main-bg-color: #000000;
  --secondary-bg-color: #3d3d3d;
  --main-text-color: #ebebeb;
  --accent-text-color: #e2e2e2;
}

body {
  padding: 50px;

  font: 20px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  display: flex;
}

a {
  color: var(--accent-text-color);
  text-decoration: none;
}

#itemList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#itemListItem img {
  width: 200px;
}

#itemListItem {
  gap: 10px;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}
form input,
form textarea,
form button {
  margin-bottom: 10px;
  border: none;
  color: var(--main-text-color);
  padding: 10px;
  background-color: var(--secondary-bg-color);
}

#nav {
  position: sticky;
  top: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  flex-shrink: 1;
  width: 20ch;
  height: min-content;
}
